<footer class="relative pt-20 pb-12 bg-default-800 dark:bg-default-900">
    <div class="container">
        <div class="relative z-10 grid lg:grid-cols-12 md:grid-cols-2 gap-5">
            <div class="lg:col-span-3">
                <h5 class="mb-4 font-medium text-white text-lg">Produkt</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="../index.html#features" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Funkcje</a>
                    </li>

                    <li>
                        <a href="../index.html#pricing" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Cennik</a>
                    </li>

                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Integracje</a>
                    </li>

                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">API</a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <h5 class="mb-4 font-medium text-white text-lg">Blog</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="index.html" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Wszystkie artykuły</a>
                    </li>

                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Email Marketing</a>
                    </li>

                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Automatyzacja</a>
                    </li>

                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Case Studies</a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <h5 class="mb-4 font-medium text-white text-lg">Pomoc</h5>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="#" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Centrum pomocy</a>
                    </li>

                    <li>
                        <a href="../regulamin.html" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Regulamin</a>
                    </li>

                    <li>
                        <a href="../polityka-prywatnosci.html" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Polityka prywatności</a>
                    </li>

                    <li>
                        <a href="../index.html#contact" class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Kontakt</a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <div class="flex p-1 lg:w-96 md:w-90 w-86 rounded-md border border-white/14 bg-card/4 relative mb-6">
                    <input type="email" placeholder="twoj@email.pl" class="px-3 text-sm text-white border-none bg-transparent focus:outline-none focus:ring-0" />
                    <button type="button" class="absolute right-2 btn text-white bg-primary hover:bg-primary/90">
                        Subskrybuj
                    </button>
                </div>

                <div>
                    <p class="mb-1 text-sm text-default-400">Email wsparcia</p>
                    <h5 class="text-lg text-white">pomoc@mailist.pl</h5>
                </div>

                <div class="mt-6">
                    <p class="mb-1 text-sm text-default-400">Telefon kontaktowy</p>
                    <h5 class="text-lg text-white">+48 123 456 789</h5>
                </div>
            </div>
        </div>

        <div class="py-5 mt-20 border-y border-default-400/40">
            <div class="md:flex justify-between items-center">
                <div class="flex flex-wrap gap-3">
                    <button type="button" class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary">
                        <i data-lucide="facebook" class="size-4"></i>
                    </button>

                    <button type="button" class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary">
                        <i data-lucide="linkedin" class="size-4"></i>
                    </button>

                    <button type="button" class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary">
                        <i data-lucide="instagram" class="size-4"></i>
                    </button>

                    <button type="button" class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary">
                        <i data-lucide="twitter" class="size-4"></i>
                    </button>

                    <button type="button" class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary">
                        <i data-lucide="youtube" class="size-4"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="text-base mt-12 text-center text-default-400">
            <p>{{ 'now' | date: "%Y" }} © Mailist. Wszystkie prawa zastrzeżone.</p>
        </div>
    </div>
</footer>
