<!-- Start Footer Area -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="../index.html" class="logo">
                        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Mailist Logo" style="filter: brightness(0) invert(1);">
                    </a>
                    <p>Mailist to platforma email marketingu, która pomaga firmom rozwiązywać realne problemy: niskie wskaźniki otwarć, brak automatyzacji i marnowanie czasu na ręczne kampanie.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ri-instagram-fill"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Rozwiązania</h3>
                    <ul class="links-list">
                        <li><a href="../index.html#funkcje">Listy kontaktów</a></li>
                        <li><a href="../index.html#funkcje">Kampanie email</a></li>
                        <li><a href="../index.html#automatyzacja">Automatyzacja</a></li>
                        <li><a href="../index.html#funkcje">Segmentacja</a></li>
                        <li><a href="../index.html#funkcje">Analityka</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Firma</h3>
                    <ul class="links-list">
                        <li><a href="../index.html#cennik">Cennik</a></li>
                        <li><a href="../regulamin.html">Regulamin</a></li>
                        <li><a href="../polityka-prywatnosci.html">Polityka prywatności</a></li>
                        <li><a href="../index.html#trial">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>
                    <p>Otrzymuj praktyczne wskazówki jak poprawić skuteczność email marketingu.</p>
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Twój email" name="EMAIL" required autocomplete="off">
                        <button type="submit"><i class="ri-send-plane-2-line"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>Copyright {{ 'now' | date: "%Y" }} <strong>Mailist</strong>. Wszystkie prawa zastrzeżone.</p>
        </div>
    </div>
</div>
<!-- End Footer Area -->
