<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html">
                <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Mailist Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="../index.html#funkcje" class="nav-link">Rozwiązania</a></li>
                    <li class="nav-item"><a href="../index.html#automatyzacja" class="nav-link">Automatyzacja</a></li>
                    <li class="nav-item"><a href="../index.html#cennik" class="nav-link">Cennik</a></li>
                    <li class="nav-item"><a href="{{ site.baseurl }}/index.html" class="nav-link active">Blog</a></li>
                    <li class="nav-item"><a href="../regulamin.html" class="nav-link">Regulamin</a></li>
                </ul>
                <div class="others-option">
                    <a href="../index.html#trial" class="default-btn">Wypróbuj za darmo</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- End Navbar Area -->
