<header>
    <nav class="fixed inset-x-0 top-0 z-50 bg-card py-6 shadow flex justify-between items-center">
        <div class="container">
            <div class="grid lg:grid-cols-12 md:grid-cols-10 grid-cols-2 items-center">
                <div class="lg:col-span-2 md:col-span-2">
                    <a href="../index.html" class="flex items-center">
                        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Mailist Logo" class="h-8" />
                    </a>
                </div>

                <div class="lg:col-span-8 md:col-span-6 md:block hidden">
                    <ul class="flex items-center justify-center lg:gap-8 md:gap-6 font-medium text-sm">
                        <li>
                            <a href="../index.html" class="text-default-800 hover:text-primary transition duration-300">Start</a>
                        </li>

                        <li>
                            <a href="../index.html#features" class="text-default-800 hover:text-primary transition duration-300">Funkcje</a>
                        </li>

                        <li>
                            <a href="../index.html#pricing" class="text-default-800 hover:text-primary transition duration-300">Cennik</a>
                        </li>

                        <li>
                            <a href="index.html" class="text-default-800 hover:text-primary transition duration-300">Blog</a>
                        </li>

                        <li>
                            <a href="../index.html#contact" class="text-default-800 hover:text-primary transition duration-300">Kontakt</a>
                        </li>
                    </ul>
                </div>

                <div class="lg:col-span-2 md:col-span-2 flex items-center justify-end gap-2">
                    <button class="btn size-9 bg-primary text-white md:hidden" aria-haspopup="dialog" aria-expanded="false" aria-controls="navbarMenu" data-hs-overlay="#navbarMenu">
                        <i data-lucide="menu"></i>
                    </button>

                    <a href="#" class="hidden md:flex">
                        <button type="button" class="btn border border-dashed border-primary bg-transparent text-primary hover:bg-primary/20">
                            Zaloguj
                        </button>
                    </a>

                    <a href="#" class="flex justify-end">
                        <button type="button" class="btn bg-primary text-white">
                            Zarejestruj
                            <i data-lucide="user-plus" class="size-4"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
