---
layout: default
title: Blog
---

<div class="home">
  <h1 class="page-heading">Najnowsze artykuły</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | relative_url }}">przez RSS</a></p>
</div>
