<footer class="relative pt-20 pb-12 bg-default-800 dark:bg-default-900" role="contentinfo">
    <div class="container">
        <div class="relative z-10 grid lg:grid-cols-12 md:grid-cols-2 gap-5">
            <div class="lg:col-span-3">
                <h3 class="mb-4 font-medium text-white text-lg">Produkt</h3>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="#funkcje"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Funkcje</a>
                    </li>

                    <li>
                        <a href="#cennik"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Cennik</a>
                    </li>

                    <li>
                        <a href="https://app.mailist.pl/auth/register"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Utwórz konto</a>
                    </li>

                    <li>
                        <a href="https://app.mailist.pl/auth/login"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Zaloguj się</a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <h3 class="mb-4 font-medium text-white text-lg">Zasoby</h3>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="#"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Blog
                        </a>
                    </li>

                    <li>
                        <a href="#"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Dokumentacja</a>
                    </li>

                    <li>
                        <a href="#"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Pomoc</a>
                    </li>

                    <li>
                        <a href="#faq"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">FAQ</a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <h3 class="mb-4 font-medium text-white text-lg">Firma</h3>
                <ul class="flex flex-col gap-y-3 text-sm">
                    <li>
                        <a href="#"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">O nas
                        </a>
                    </li>

                    <li>
                        <a href="#kontakt"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Kontakt</a>
                    </li>

                    <li>
                        <a href="regulamin.html"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Regulamin</a>
                    </li>

                    <li>
                        <a href="polityka-prywatnosci.html"
                           class="relative inline-block transition-all duration-200 ease-linear text-default-400 before:absolute before:border-b before:border-default-400 before:inset-x-0 before:bottom-0 before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-linear">Polityka Prywatności
                        </a>
                    </li>
                </ul>
            </div>

            <div class="lg:col-span-3">
                <form class="newsletter-form mb-6">
                    <div class="flex p-1 lg:w-96 md:w-90 w-86 rounded-md border border-white/14 bg-card/4 relative">
                        <input type="email" placeholder="Twój email" aria-label="Adres email do newslettera" required
                               class="px-3 text-sm text-white border-none bg-transparent focus:outline-none focus:ring-0 flex-1"/>
                        <button type="submit" class="absolute right-2 btn text-white bg-primary hover:bg-primary/90">
                            Subskrybuj
                        </button>
                    </div>
                </form>

                <div>
                    <p class="mb-1 text-sm text-default-400">Email Wsparcia</p>
                    <h4 class="text-lg text-white">kontakt@mailist.pl</h4>
                </div>
            </div>
        </div>

        <div class="py-5 mt-20 border-y border-default-400/40">
            <div class="md:flex justify-between items-center">

                <div class="flex flex-wrap gap-3 md:mt-0 mt-5">
                    <button type="button"
                            class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary ">
                        <i data-lucide="facebook" class="size-4"></i>
                    </button>

                    <button type="button"
                            class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary ">
                        <i data-lucide="linkedin" class="size-4"></i>
                    </button>

                    <button type="button"
                            class="size-10 btn border border-default-400/40 bg-transparent rounded-full text-default-400 hover:text-primary ">
                        <i data-lucide="instagram" class="size-4"></i>
                    </button>

                </div>
            </div>
        </div>

        <div class="text-base mt-12 text-center text-default-400">
            <p>2025 © Mailist. Wszelkie prawa zastrzeżone. |
                <a href="regulamin.html" class="underline text-white hover:text-primary">Regulamin</a> |
                <a href="polityka-prywatnosci.html" class="underline text-white hover:text-primary">Polityka Prywatności</a>
            </p>
        </div>
    </div>
</footer>
